blinker
branca
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
folium
fonttools
gunicorn
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tzdata
urllib3
waitress
Werkzeug
