asttokens
backcall
branca
certifi
charset-normalizer
click
colorama
cycler
debugpy
decorator
entrypoints
et-xmlfile
executing
Flask
folium
fonttools
gunicorn
idna
ipykernel
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mlxtend
mysql-connector-python
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
PyQRCode
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
torch
tornado
traitlets
typing_extensions
urllib3
waitress
wcwidth
Werkzeug